<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="font-family: Oswald; background: #C6A0FF; color: #2C0F2E; margin: auto; margin-top: 30px; width: 30%; padding:15%;">
<center><h1>Chuck Norris Jokes!!</h1>
<p th:text="${chuckJoke}"/></center>
</body>
</html>